/* Tablet and Mobile */
@media (max-width: 1023px) {
  .bnt {
    padding: 16px 20px;
    font-size: 14px;
  }

  #nav .subnav a {
    padding-top: 4px;
    padding-bottom: 4px;
  }

  #content .contact-info {
    line-height: 2;
  }

  #content .contact-form .form-control {
    padding: 14px;
  }

  #footer .socials-list {
    font-size: 28px;
  }

  #footer .socials-list a {
    padding: 8px;
  }

  #footer .copyright {
    margin-top: 24px;
    margin-bottom: 0;
  }

  #footer .copyright a {
    padding: 8px;
    display: inline-block;
  }
}

/* Mobile */
@media (max-width: 739px) {
  .s-col-full,
  .s-full-width {
    width: 100% !important;
  }

  .s-mt8 {
    margin-top: 8px !important;
  }

  .s-mt16 {
    margin-top: 16px !important;
  }

  #header {
    overflow: hidden;
  }

  #header .mobile-menu-bnt {
    display: block;
  }

  #header .search-bnt {
    display: none;
  }

  #nav {
    display: block;
  }

  #nav > li {
    display: block;
  }

  #nav > li:first-child {
    display: inline-block;
  }

  #nav .subnav {
    position: initial;
    box-shadow: none;
    background-color: #333;
  }

  #nav .subnav a {
    padding: 4px 40px;
    color: #fff;
  }

  #content .member-img {
    margin-bottom: 15px;
    width: 60%;
  }

  #content .contact-info {
    margin-bottom: 16px;
  }
}